<div class="container">
  <div style="text-align:center">
    <h1>LoveCraft</h1>
    <h3>Welcome to {{title}}!</h3>
  </div>
  <div class="row">
    <div class="keg-display" *ngFor="let keg of kegs">
      <div [class]="inventoryColor(keg)">
        <div class="row">
          <div class="col col-md">
            <h1>Price: ${{keg.price}}</h1>
            <h4>Name: {{keg.name}}</h4>
            <img src="{{keg.imgString}}">
          </div>
          <div class="col col-md">
            <h5>{{keg.brand}}</h5>
            <p>{{keg.alcoholContent}}%</p>
            <p>Pints Remaining: {{keg.pints}}</p>
            <button (click)="keg.sellPint()" class="btn btn-info">Sell Pint</button><br>
            <button (click)="displayEditForm(keg)"  class="edit btn btn-danger">Edit</button>
          </div>
          <div class="col col-md">
            <div *ngIf="selectedKeg === keg">
              <input type="text" class="form-control" [(ngModel)]="keg.price" placeholder="Price">
              <input type="text" class="form-control" [(ngModel)]="keg.name" placeholder="Name">
              <input type="text" class="form-control" [(ngModel)]="keg.brand" placeholder="Brand">
              <input type="text" class="form-control" [(ngModel)]="keg.alcoholContent" placeholder="ABV">
              <input type="text" class="form-control" [(ngModel)]="keg.pints" placeholder="Pints Remaining">
              <input type="text" class="form-control" [(ngModel)]="keg.imgString" placeholder="Image">
              <button type="button" class="btn btn-danger" (click)="finishedEdit()">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button *ngIf="!addKeg" type="button" class="btn btn-warning" (click)="displayAddKeg()">Add Keg</button>
  <div *ngIf="addKeg">
    <input type="number" class="form-control" [(ngModel)]="keg.price" placeholder="Price">
    <input type="text" class="form-control" [(ngModel)]="keg.name" placeholder="Name">
    <input type="text" class="form-control" [(ngModel)]="keg.brand" placeholder="Brand">
    <input type="number" class="form-control" [(ngModel)]="keg.alcoholContent" placeholder="ABV">
    <input type="text" class="form-control" [(ngModel)]="keg.imgString" placeholder="Image">
    <button type="button" class="btn btn-primary"(click)="submitKeg(keg.price, keg.name, keg.brand, keg.alcoholContent, keg.imgString)">Submit Keg</button>
  </div>
</div>
